
body {
  background-color: darkgrey;
}

h1 {
  font-size: 3vw;
  color:goldenrod;
  width: max-width;
  margin: auto;
}

Figure {
  width: 50%;
  margin-left: 50px;
  border: indigo;
  background-color: red;
  padding: 50px;
}

figcaption {
  background-color: inherit;
}


img {
  width: 100%
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
}